ignore all directories, and all sub-directories, and it's contents:
*/*

*.mat


!python/*

python/data_root
python/distribution_histo_plots
python/ml_output_tensorflow/*
!/python/ml_output_tensorflow/tf_output_benchmarks.csv

python/_archive_rudis_data/data_root
python/_archive_rudis_data/ml_output
python/_archive_rudis_data/ml_input_2017.11.30_10_41_29
python/_archive_rudis_data/rudis_data
python/_archive_rudis_data/ml_output_hidden


!matlab/*

results.mat
tracks.mat

matlab/benchmark_data/*
!matlab/benchmark_data/output_m3_maxcomp_12.csv
!matlab/ml_output_matlab/results.csv
matlab/input_data
matlab/ml_analyze
matlab/ml_input
matlab/ml_output_matlab/*
!matlab/ml_output_matlab/results.csv

!matlab/ml_output_matlab/ml_train_log.csv
!matlab/ml_output_matlab/upcoming_tests.csv
