ignore all directories, and all sub-directories, and it's contents:
*/*

*.mat


!python/*

python/data_root
python/distribution_histo_plots
python/ml_output_tensorflow

python/rudis_data/data_root
python/rudis_data/ml_output
python/rudis_data/ml_input_2017.11.30_10_41_29
python/rudis_data/rudis_data
python/rudis_data/ml_output_hidden


!matlab/*

results.mat
tracks.mat

matlab/benchmark_data
matlab/input_data
matlab/ml_analyze
matlab/ml_input
matlab/ml_output_matlab/*

!matlab/ml_output_matlab/ml_train_log.csv
!matlab/ml_output_matlab/upcoming_tests.csv
